<div class="panel panel-container">
    <div class="row">

        {% for key, stat in stats %}
            {# Match integer #}
            {% if key matches '/^\\d+$/' %}
                <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                    <div class="panel panel-teal panel-widget border-right">
                        <div class="row no-padding"><em class="fa fa-xl fa-{{ stat.icon}} color-{{ stat.color }}"></em>
                            <div class="large">{{ stat.value }}</div>
                            <div class="text-muted">{{ stat.title }}</div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

    </div><!--/.row-->

</div>