<!DOCTYPE html>

<title>Edit SlotUser</title>

{% block body %}
    <h1>Edit SlotUser</h1>

    {{ include('slot_user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_slot_user_index') }}">back to list</a>

    {{ include('slot_user/_delete_form.html.twig') }}
{% endblock %}
