{% extends 'Admin/base.html.twig' %}

{% block title %}Email Verified{% endblock %}

{% block body %}
    <div class="container">
        <div class="content">
            <h1>Hvala vam na verifikaciji vašeg emaila!</h1>
            <p>Vaša email adresa je uspješno verificirana. Sada možete pristupiti svom računu.</p>
        </div>
    </div>
{% endblock %}
